li.parent-drop {
    position: relative;

    & .dropdown {
        display: none;
        & ul {
            background-color: $bianco;
            color: $nero;
            @include flex(column, flex-start, left, nowrap);
            list-style: none;
            position: absolute;
            top: 50px;
            & li {
                padding: $paddingBase;
                &:hover {
                    background-color: $bianco;
                }
            }
        }
    }

    &:hover, &:focus{
        .dropdown {
            display: block;
        }
    }


}
