#head-top {
    color: $grigioScuro;
    & ul {

        @include flex(row, flex-end, center, nowrap);
        list-style: none;
        & li {
            padding-left: 10px;
            & i {
                color: $blu;
                margin-right: 5px;
            }
        }
    }


}


#head-bottom {
    height: 50px;
    color: $bianco;
    @include flex(row, space-around, center, nowrap);

    & .logo {
        & img {
            width: 90px;
        }
    }

    & #nav {
        list-style: none;
        @include flex(row, space-between, center, nowrap);
        & li {
            padding: $paddingBase;
        }

    }
}
