#jumbotron {
    height: 500px;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    background-size: cover;
}

#nav-stick {
    height: 50px;
    background-color: $bianco;
    position: sticky;
    top: 0;
}


footer {
    height: 1000px;
}
